<div class="bg-blue-900 text-white p-6 md:px-12 md:py-10">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row items-center">
      <div class="md:w-1/2 md:text-left">
        <h1 class="text-2xl md:text-3xl font-bold">
          Your one-stop-shop for world-class engineering
        </h1>
        <p class="mt-4 text-sm md:text-base">
          Along with smart cities around the globe, Panasonic products and
          components are featured in some of the biggest household smart devices
          and home automation systems in the world.
        </p>
        <button
          class="mt-6 px-4 py-2 bg-white text-blue-900 font-bold text-base"
        >
          Learn more
        </button>
      </div>
      <div class="md:w-1/2 mt-6 md:mt-0">
        <img
          src="assets/images/panasonic.png"
          alt="Panasonic Products"
          class="mx-auto"
        />
      </div>
    </div>
  </div>
</div>
